#container{
    border: 2px solid red;
    width: 700px;
    height: 500px;
    margin-left: 200px;
}
#box1{
    border: 2px solid red;
    width: 668px;
    height: 50px;
    margin-top: 60px;
    margin-left: 10px;
    font-size: 40px;
    padding-left: 10px;
}
#box2{
    border: 2px solid red;
    width: 668px;
    height: 55px;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#box3{
    border: 2px solid red;
    width: 678px;
    height: 70px;
    margin-top: 30px;
    margin-left: 10px;
    padding-top: 1px;
    padding-bottom: 35px;
}
#box3 li{
        border: 2px solid red;
        width: 620px;
        height: 1px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        padding-top: 1px;
        padding-bottom: 30px;
}
p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        padding-top: 1px;
        padding-bottom: 30px;
        padding-left: 10px;
}
p button{
    border: 2px solid red;
    width: 50px;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 35px;
    font-size: 15px;
}
p a{
    border: 2px solid red;
    width: 50px;
    height: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

